<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189865837490-eh1t17k8qlb8vo5fj874ol734bib5l89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189865837490-eh1t17k8qlb8vo5fj874ol734bib5l89</string>
	<key>API_KEY</key>
	<string>AIzaSyDBosrn2mb5EJcnew5CxJk5pe9BkjkesZs</string>
	<key>GCM_SENDER_ID</key>
	<string>189865837490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newrock</string>
	<key>PROJECT_ID</key>
	<string>newrockbot</string>
	<key>STORAGE_BUCKET</key>
	<string>newrockbot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189865837490:ios:a2145455c1365ac4af1aab</string>
	<key>DATABASE_URL</key>
	<string>https://newrockbot.firebaseio.com</string>
</dict>
</plist>